body {
    background-color: azure;
    background-image: url('https://images8.alphacoders.com/633/thumb-1920-633270.png');
}

.logo {
    margin:20px;
}

header{
    display:grid;
    grid-template-columns: 70% 15% 15%;
}
.puntaje{
    margin:auto;
    color: white;
    font-size: 30px;
}
.money{
    background-color: yellow;
}
.carta-box {
    margin: 100px;
    width: 200px;
    height: 250px;
    position: relative;
    perspective: 1000px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}

.card{
    position: relative;
    width:200px;
    height:250px;
    margin: 30px;
}


.card div{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    backface-visibility: hidden;
    transition: 1s;
}

.card .front{
    transform: perspective(500px) rotateY(0deg);
}


.card .back{
    transform: perspective(500px) rotateY(180deg);
}


.card:hover .front{
    transform: perspective(500px) rotateY(180deg);
}


.card:hover .back{
    transform: perspective(500px) rotateY(360deg);
}


